@font-face {
  font-family: "VNF-AbrilFatface";
  src: url("../fonts/VNF-AbrilFatface.woff2") format("woff2"),
    url("../fonts/VNF-AbrilFatface.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
